$shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

.collection {
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(255,255,255);
  border-radius: 3px;
  margin-bottom: 30px;
  position: relative;
  .btn {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
}
h3 {
  text-align: center;
}

.no-reservation {
  text-align: center;
  padding: 10px 14px;
  background-color: white;
  border-top: 2px solid rgb(244, 244, 244)
}


.collection-bike {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  .collection-bike-photo {
    background-size: cover;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .collection-bike-infos {

    margin: 0px;
    padding-left: 10px;
  }
}

.collection-reservations {
  display: flex;
  flex-direction: column;
}

.collection-reservation {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 15px;
  border-radius: 3px;
  box-shadow: $shadow;
}

.collection-reservation-user-picture {
  padding: 15px;
}

.collection-reservation-infos {
  padding: 15px;
}

.collection-reservation-acception {
  padding: 15px;
}
