.collection {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(255,255,255);
  border-radius: 3px;
  margin-bottom: 30px;
  .btn {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.collection-bike-photo {
  margin-top: 10px;
}



.collection-bike {
  display: flex;
}

.collection-bike-infos {
  padding: 15px;
  p {
    width: 200px;
    word-wrap: break-word;
  }
}

.collection-reservations {
  display: flex;
  flex-direction: column;
}

.collection-reservation {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.collection-reservation-user-picture {
  padding: 15px;
}

.collection-reservation-infos {
  padding: 15px;
}

.collection-reservation-acception {
  padding: 15px;
}
