.reservations {
  display: flex;
  justify-content: space-around;
  flex: 0 1 200px;
}

.client-reservations {
  display: flex;
}

.owner-reservations {
  display: flex;
}

.reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(252,252,252);
  margin: 20px;
  padding: auto 10px;
  border-radius: 3px;
}

.reservation-status {
  margin: 10px;
  padding: 10px;
}

.reservation-infos {
  max-width: 40%;
  margin: 10px;
  padding: 10px;
}

.reservation-photo {
  max-width: 40px;
  margin: 10px;
  padding: 10px;
}

.btn {
  margin: 10px;
}

.fa-check-circle {
  color: rgb(126, 222, 0);
}

.fa-ban {
  color: $red;
}
