.bike {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(252,252,252);
  border-radius: 3px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 150%;
  height: 75vh;
  padding-left: 50px;
  padding-right: 50px;
}

.bike-photo {
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.bike-reservation {
  padding: 60px 0px 35px 45px;
}

.bike-description {
  padding: 20px 0px 0px 0px;
}
/* haut | droit | bas | gauche */
/* vertical | horizontal */
