<h1>My bikes</h1>

<div class="bike">
  <div class="bike-photo">

  </div>
  <div class="bike-infos">

  </div>
</div>

<div class="reservation">
  <div class="reservation-user-picture">

  </div>
  <div class="reservation-infos">

  </div>
  <div class="reservation-acception">

  </div>
</div>
