

<h1>BIKES</h1>



<% @bikes.each do |bike| %>
<div class="card">
  <div class="card-photo">
    <%= default_photo(bike) %>
  </div>
  <div class="infos">
    <h3><%= link_to bike.title, bike_path(bike) %></h3>
    <h4><%= bike.category%></h4>
    <p><%= bike.description%></p>
  </div>
</div>
<% end %>
