.card {
  height: 400px;
  justify-content: space-between;
  background-color: white;
  color: rgba(150,150,150,1);
  position: relative;
  box-shadow: 2px 2px 2px #C1C1C1FF;
  border-radius: 3px;
  margin-bottom: 20px;

  a {
    color: rgba(150,150,150,1);
  }

}

.card-infos:hover {
  background-color: rgba(150,150,150,1);
  color: rgba(150,150,150,1);
  justify-content: center;
  align-items: center;
  height: 40%;

  h6 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin: 0 -15px;
  }

  a {

    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
  }
   p {
    display: none;
  }
}

.title {
  font-weight: bolder;
}

.card-photo {
  border-radius: 2px;
  height: 60%;
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


.card-infos {
  padding: 15px;
  .card-address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main_container {
  display: flex;

  @media (max-width: 992px) {
    display: block;
  }
}

#map {
  flex: 0 0 400px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: calc(10% + 54px);
}




