.card {
  height: 500px;
  background-color: white;
  color: rgba(150,150,150,1);
  position: relative;
  box-shadow: 2px 2px 2px #C1C1C1FF;
  border-radius: 3px;


  a {
    color: rgba(150,150,150,1);

  }

}

.card-infos:hover {
  background-color: rgba(150,150,150,1);
  color: rgba(150,150,150,1);

  justify-content: center;
  align-items: center;
  height: 40%;

  a {
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
  }
  h3, p {
    display: none;
  }
}

.card-photo {
  border-radius: 2px;
  height: 60%;
  background-size: cover;
  background-position: center center;
}


.card-infos {
  padding: 15px;
  display: flex;
  flex-direction: column;


}





