.card {
  height: 400px;
  width: 0 auto;
  justify-content: space-between;
  background-color: white;
  color: rgba(150,150,150,1);
  position: relative;
  box-shadow: 2px 2px 2px #C1C1C1FF;
  border-radius: 3px;
  margin-bottom: 20px;
  z-index: -1;


  a {
    color: rgba(150,150,150,1);
  }

}

.card-infos:hover {
  background-color: rgba(150,150,150,1);
  color: rgba(150,150,150,1);
  justify-content: center;
  align-items: center;
  height: 40%;

  a {
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
    max-width: 10%;
  }
   p {
    display: none;
  }
}

.title {
  font-weight: bolder;
}

.card-photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2px;
  height: 60%;
  background-size: cover;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


.card-infos {
  padding: 15px;
  display: flex;
  flex-direction: column;
  .card-address {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

.main_container {
  display: flex;
}

#map {
  flex: 0 0 400px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: calc(10% + 54px);
}

@media (max-width: 800px) {
  .card-address {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  .card-address {
    width: 50px;
  }
}
@media (max-width: 1200px) {
  .card-address {
    width: 60px;
  }
}
@media (max-width: 2000px) {
  .card-address {
    width: 60px;
  }
}




