.research {
  display: flex;
  justify-content: space-around;



}

.wrapper {
  position: sticky !important;
  top: calc(20% - 84px);
  z-index: 2;
  background-color: rgb(244, 244, 244);
  margin: 0px;

}
