.research {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  position: sticky !important;
  top: calc(20% - 84px);
  z-index: 0;
  margin: 0px;
}

@media (max-width: 800px) {
  .wrapper {
    top: 60px;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    top: 60px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    top: 60px;
  }
}
@media (max-width: 2000px) {
  .wrapper {
    top: 60px;
  }
}
